* {
    box-sizing: border-box;
}

body {
    margin: 30px;
}

.elements {
    display: flex;
}

.element {
    width: 50%;
    padding: 15px;
}

textarea {
    display: block;
    width: 100%;
    font-family: arial, sans-serif;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: .15em;
}

code {
    padding: 2px 4px;
    font-size: .9em;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}